@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
}

.quiz-header {
    padding: 4rem;
    text-transform: uppercase;
}

h2 {
    padding: 0.8rem;
    text-align: center;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 2.5rem!important;
    font-weight: 550;

}
#pass-main-div>div>input{
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.btns {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.9rem;
    width: 100%;
    padding: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 1px;
}

.btns:hover {
    background-color: #732d91;
}

div#forgot-status {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2.5  rem;
}





#message_field{
    width: 100%;
    height: 2rem;
    padding: 19px;
    outline: none;
    border: none;
    border-bottom: 2px dashed black;
    /* text-transform: capitalize; */
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 1.9rem;
}

#uploading_overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    padding: 20px;
    padding-top: 6rem;
    overflow: hidden;
}

#checking_overlay{
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    padding: 20px;
    padding-top: 6rem;
    overflow: hidden;
}